<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
</head>

<body class="container">
    <div class="background-image">

        <div class="container-fluid">

            <nav class="navbar navbar-default" role="navigation">
                <img src="/home/logo_home.png" class="navbar-brand" />
                <ul class="nav navbar-nav">
                    <li><a href="/">Product</a></li>
                    <li><a href="/CatKit">How It Works</a></li>
                    <li><a href="/Report">Blog</a></li>
                    <li><a href="/HowItWorks">Activate Kit</a></li>
                    <li><a href="/OrderNow">Cart</a></li>
                </ul>
            </nav>

        </div>



        <div class="quote">
            <img class="quotes" src="/home/Group 22.png" />
            <img class="social-media" src="/home/social ions.png" />
        </div>

        <div class="order-now">
            <img class="order" src="/home/order_my_kit.png" />
        </div>


    </div>

    <div class="second-background">
        <h1><img src="/home/catkit-title.png" /></h1>
        <p><img src="/home/catkit-includes-icons.png" /></p>
    </div>

    <div class="third-background">
        <img class="catkit-image" src="/home/catkit-report.png" />
    </div>


</body>

</html>