<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
</head>

<body class="container">
    <div class="background-image">

        <div class="container-fluid">

            <nav class="navbar navbar-default" role="navigation">
                <img src="/home/logo_home.png" class="navbar-brand" />
                <ul class="nav navbar-nav">
                    <li><a href="/">Basepaws</a></li>
                    <li><a href="/CatKit">Cat Kit</a></li>
                    <li><a href="/Report">Report</a></li>
                    <li><a href="/HowItWorks">How it works</a></li>
                    <li><a href="/OrderNow">Order Now</a></li>
                </ul>
            </nav>

        </div>


        
        <div class="quote">
            <img class="quotes" src="/home/Group 22.png" />
        </div>

        <div class="order-now">
            <img class="order" src="/home/order_my_kit.png" />
        </div>
        

    </div>

</body>

</html>